<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet"   th:href="@{/css/headerStyle.css}">
    <script src="https://kit.fontawesome.com/1086dfba1e.js" crossorigin="anonymous"></script>
    <title>Projektkalkulationsværktøj</title>
</head>
<body>

<nav th:fragment="header">

    <h1 class="logo">
        <a th:href="@{/dashboard}">
            <img id="login_img" src="/images/logohvid.svg" alt="Alpha solutions Logo">
        </a>
    </h1>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fa-solid fa-bars"></i>
    </label>

    <ul>
        <!-- Desktop-visning: cirkel med forbogstav -->
        <li class="avatar-desktop" th:if="${session.profile != null}">
            <a class="profile-avatar" th:href="@{/user/{username}(username=${session.profile.username})}">
                <span th:text="${#strings.substring(session.profile.name, 0, 1)}"></span>
            </a>
        </li>
        <!-- Mobil-visning: "View profile" tekst -->
        <li class="avatar-mobile" th:if="${session.profile != null}">
            <a class="profile-avatar" th:href="@{/user/{username}(username=${session.profile.username})}">
                View profile
            </a>
        </li>
        <li th:if="${session.profile != null}">
            <a th:href="@{/logout}">Sign Out</a>
        </li>

    </ul>

</nav>

</body>
</html>