<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="/css/headerStyle.css" th:href="@{/css/headerStyle.css}">
    <script src="https://kit.fontawesome.com/1086dfba1e.js" crossorigin="anonymous"></script>
    <title>Projektkalkulationsværktøj</title>
</head>
<body>

<nav th:fragment="header">
    <label class="logo">Alpha solutions</label>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fa-solid fa-bars"></i>
    </label>
    <ul>
        <li th:if="${session.profile != null}">
            <a th:href="@{/logout}">Log out</a>
        </li>
    </ul>
</nav>

</body>
</html>