<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/styles.css}" href="/css/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Alpha Solutions Project Management Dashboard</title>
</head>
<body>
<main th:if="${profile.getAuthCode()==0}">
 du er admin


</main>

<main th:if="${profile.getAuthCode()==1}">
<h1 th:text="'Manage your projects here '+${profile.name} + '!'"></h1>
    <div th:each="project : ${projects}">
        <p th:text="${project.getName()}"></p>
        <p th:text="${project.getEndDate()}"></p>
    </div>

</main>


<main th:if="${profile.getAuthCode()==2}">
    <h1 th:text="'Your assgined projects '+${profile.name} + '!'"></h1>
    <div th:each="project : ${projects}">
        <p th:text="${project.getName()}"></p>
        <p th:text="${project.getEndDate()}"></p>
    </div>
    <h1>Your assgined tasks</h1>

</main>

</body>
</html>