<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="/css/styles.css">
    <link rel="stylesheet" href="/css/headerStyle.css" th:href="@{/css/headerStyle.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/1086dfba1e.js" crossorigin="anonymous"></script>
    <title>Edit Subtask</title>
</head>
<body>

<header th:replace="~{fragments/header :: header}"></header>

<main class="employee-panel">
    <div class="employee-panel-top-row">
        <div class="welcome-box">
            <h2 th:text="'Update Subtask ' + ${chosenSubtask.name}"></h2>
        </div>
    </div>

    <div class="edit-box-holder">
        <h2 th:text="${message}"></h2>
        <form th:action="@{/editsubtask}" th:method="post" th:object="${subtaskDTO}" class="two-row-form">

            <input type="hidden" name="id" th:value="${chosenSubtask.getId()}">
            <input type="hidden" name="taskId" th:value="${chosenSubtask.getTaskId()}">

            <!-- Subtask Name -->
            <label for="name">Subtask Name</label>
            <input th:if="${profile.getAuthCode() < 2}"  id="name" name="name" th:value="${chosenSubtask.getName()}" type="text"  maxlength="50" required>
            <span th:if="${profile.getAuthCode() == 2}" th:text="${chosenSubtask.name}"></span>
            <input th:if="${profile.getAuthCode() == 2}" type="hidden" name="name" th:value="${chosenSubtask.getName()}" />
            <!-- Description -->
            <label for="description">Description</label>
            <input th:if="${profile.getAuthCode() < 2}" type="text" th:value="${chosenSubtask.getDescription()}" name="description" id="description" maxlength="500" required>
            <span th:if="${profile.getAuthCode() == 2}" th:text="${chosenSubtask.description}"></span>
            <input th:if="${profile.getAuthCode() == 2}" type="hidden" name="description" th:value="${chosenSubtask.getDescription()}" />

            <!-- Spent Time -->
            <label for="maxTime">Spent Time</label>
            <input type="number" name="time" th:value="${chosenSubtask.getTime()}" id="maxTime" step="1" min="0" required>

            <!-- Member Assignment -->
            <div class="form-section-full right-align">
                <div class="dropdown-container" id="memberDropdown">
                    <div class="dropdown-button" onclick="toggleDropdown()" th:if="${profile.getAuthCode() < 2}">
                        Add Employees to Subtask ▼
                    </div>
                    <div class="checkbox-dropdown">
                        <label th:each="projectMember : ${allprofiles}" th:if="${projectMember.authCode == 2}">
                            <input type="checkbox" name="assignedProfiles"
                                   th:value="${projectMember.username}"
                                   th:checked="${#lists.contains(chosenSubtask.assignedProfiles.![username], projectMember.username)}"
                            />
                            <span th:text="${projectMember.name}" th:if="${profile.getAuthCode() < 2}"></span>
                        </label>
                    </div>
                </div>
            </div>

            <!-- Status -->
            <div class="form-section-full right-align">
                <label for="status">Change Status</label>
                <select name="status" id="status">
                    <option th:value="1" th:selected="${chosenSubtask.status == 1}">🕓 Not Started</option>
                    <option th:value="2" th:selected="${chosenSubtask.status == 2}">✅ Ready</option>
                    <option th:value="3" th:selected="${chosenSubtask.status == 3}">🚧 Ongoing</option>
                    <option th:value="4" th:selected="${chosenSubtask.status == 4}">🏁 Finished</option>
                </select>
            </div>

            <!-- Submit -->
            <div class="form-section-full">
                <button type="submit" id="standard-button">Save Subtask</button>
            </div>
        </form>
    </div>





</main>

<script src="/js/script.js"></script>
</body>
</html>