<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="/css/styles.css">
    <link rel="stylesheet" href="/css/headerStyle.css" th:href="@{/css/headerStyle.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/1086dfba1e.js" crossorigin="anonymous"></script>
    <title>Edit Subtask</title>
</head>
<body>

<header th:replace="~{fragments/header :: header}"></header>

<main>

    <h1 th:text="'Update Subtask ' + ${chosenSubtask.name}"></h1>

    <div>
        <h1 th:text="${message}"></h1>
        <form th:action="@{/editsubtask}" th:method="post" th:object="${subtaskDTO}">
            <input type="hidden" name="id" th:value="${chosenSubtask.getId()}">
            <input type="hidden" name="taskId" th:value="${chosenSubtask.getTaskId()}">

            <label for="name">Subtask name</label>
                <input type="text" name="name" id="name" maxlength="50" required th:value="${chosenSubtask.getName()}">

            <label for="description">Description</label>
            <input type="text" name="description" id="description" maxlength="500" required th:value="${chosenSubtask.getDescription()}">

            <label for="maxTime">Allocated time</label>
            <input type="number" name="time" id="maxTime" step="1" min="0" max="9999999999999999999999999999.99" required th:value="${chosenSubtask.getTime()}">


            <div class="dropdown-container" id="memberDropdown">
                <div class="dropdown-button" onclick="toggleDropdown()">Add Employees to subtask ▼</div>
                <div class="checkbox-dropdown">
                    <label th:each="profile : ${allprofiles}" th:if="${profile.authCode == 2}">
                        <input type="checkbox" name="assignedProfiles"
                               th:value="${profile.username}" th:checked="${#lists.contains(chosenSubtask.assignedProfiles.![username], profile.username)}" />
                        <span th:text="${profile.name}"></span>
                    </label>
                </div>
            </div>

            <button type="submit">Save Subtask</button>
        </form>
    </div>

</main>
<script src="/js/script.js"></script>
</body>
</html>