<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="/css/styles.css">
    <link rel="stylesheet" href="/css/headerStyle.css" th:href="@{/css/headerStyle.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/1086dfba1e.js" crossorigin="anonymous"></script>
    <title>Alpha Solutions Project Management</title>
</head>
<body>

<header th:replace="~{fragments/header :: header}"></header>

<main>



    <div class="loginBox">
        <div class="loginBox_header">
            <h3 th:text="${code}"></h3>
            <img id="login_img" src="/images/logohvid.svg" alt="Alpha solutions Logo">
        </div>

        <div class="loginBox_form">
          <h3 th:text="${message}"></h3>

        </div>

    </div>




</main>

</body>
</html>