<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Alpha Solutions Project Management</title>
</head>
<body>
<main>



    <div>
        <h1 th:text="${wrongLogin}"></h1>
        <form th:action="@{/loginrequest}" th:method="post">

            <label for="username">Username</label>
            <input type="text" name="username" id="username">
            <label for="password">Password</label>
            <input type="text" name="password" id="password">
            <button type="submit">Login</button>

        </form>
    </div>




</main>

</body>
</html>