<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Manage employees</title>
</head>
<body>
<main>
    <h1>Manage employees</h1>


    <form th:action="@{/createnewemployee}">
        <button type="submit">Create new employee</button>
    </form>



    <h3 th:text="${message}"></h3>
    <table>
        <thead>List of employees</thead>
        <tr th:each="employee : ${employeelist}">
            <td th:text="${employee.getName()}"></td>
            <td><form th:action="@{/editemployee}" th:method="get"><button>Edit employee (MANGLER AT BLIVE LAVET)</button></form></td>
            <td><form th:action="@{/deleteemployee}" th:method="post"><input type="hidden" th:value="${employee.getUsername()}" name="profileID"><button>Delete employee</button></form></td>
    </table>





</main>

</body>
</html>