<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="/css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="/css/headerStyle.css" th:href="@{/css/headerStyle.css}">
    <script src="https://kit.fontawesome.com/1086dfba1e.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Alpha Solutions Project Management Create New User</title>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>

<main class="employee-panel">
    <div class="employee-panel-top-row">
        <div class="welcome-box">
            <h2>Create employee</h2>
        </div>
    </div>

    <div class="custom-message">
        <h3 th:text="${message}"></h3>
    </div>



    <div class="edit-box-holder">
        <form th:method="post" th:action="@{/createnewemployee}" th:object="${emptyEmployee}" class="two-row-form">
            <label for="name">Employee name</label>
            <input type="text" name="name" id="name" required>

            <label for="username">Employee username</label>
            <input type="text" name="username" id="username" maxlength="25" required>

            <label for="password">Employee password</label>
            <input type="text" name="password" id="password" min="1" max="60" required>

            <label for="salary">Employee hourly salary</label>
            <input type="number" name="salary" id="salary" min="1" max="999999" step="0.01" required>

            <div class="form-section-full">
                <label for="authCode">Authorization level</label><br>
                <select name="authCode" id="authCode" required>
                    <option value="" disabled selected>Select one</option>
                    <option value="0">Admin</option>
                    <option value="1">Project Leader</option>
                    <option value="2">Employee</option>
                </select>
            </div>

            <div class="form-section-full dropdown-container" id="memberDropdown">
                <div class="dropdown-button" onclick="toggleDropdown()">Add skills to employee ▼</div>
                <div class="checkbox-dropdown">
                    <label th:each="skill : ${skills}">
                        <input type="checkbox" name="skills" th:value="${skill.getId()}" />
                        <span class="small-text" th:text="${skill.getName()}"></span>
                    </label>
                </div>
            </div>

            <div class="form-section-full">
                <button id="standard-button" type="submit">Create new employee</button>
            </div>
        </form>
    </div>







</main>
<script src="/js/script.js"></script>
</body>
</html>