<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/styles.css}" href="/css/styles.css">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <link rel="stylesheet" href="/css/headerStyle.css" th:href="@{/css/headerStyle.css}">
  <script src="https://kit.fontawesome.com/1086dfba1e.js" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Alpha Solutions Project Management Create Subtask</title>
</head>
<body>

<header th:replace="~{fragments/header :: header}"></header>

<main class="employee-panel">
  <div class="employee-panel-top-row">
    <div class="welcome-box">
      <h2 th:text="'Create Subtask for task ' + ${task.name}"></h2>
    </div>
  </div>

  <div class="edit-box-holder">
    <form th:action="@{/createnewsubtask}" th:method="post" th:object="${emptySubtask}" class="two-row-form">

      <input type="hidden" name="taskId" th:value="${task.getId()}">

      <label for="name">Subtask Name</label>
      <input type="text" name="name" id="name" maxlength="50" required>

      <label for="description">Description</label>
      <input type="text" name="description" id="description" maxlength="500" required>

      <input type="hidden" name="time" id="maxTime" value="0">

      <div class="form-section-full right-align">
        <div class="dropdown-container" id="memberDropdown">
          <div class="dropdown-button" onclick="toggleDropdown()">Add Employees to Subtask ▼</div>
          <div class="checkbox-dropdown">
            <label th:each="profile : ${employees}" th:if="${profile.authCode == 2}">
              <input type="checkbox" name="assignedProfiles" th:value="${profile.username}" />
              <span th:text="${profile.name}"></span>
            </label>
          </div>
        </div>
      </div>

      <div class="form-section-full">
        <button type="submit" id="standard-button">Create Subtask</button>
      </div>
    </form>
  </div>
</main>

<script src="/js/script.js"></script>
</body>
</html>
