<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="/css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="/css/headerStyle.css" th:href="@{/css/headerStyle.css}">
    <script src="https://kit.fontawesome.com/1086dfba1e.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Alpha Solutions Project Management Create New Project</title>
    <script src="https://kit.fontawesome.com/1086dfba1e.js" crossorigin="anonymous"></script>
</head>
<body>

<header th:replace="~{fragments/header :: header}"></header>

<main>
    <h1 th:text="'Create New Project'"></h1>

    <div>
        <form th:action="@{/createnewproject}" th:method="post" th:object="${project}">
            <label for="name">Project Name</label>
            <input type="text" name="name" id="name" maxlength="50" required>

            <label for="description">Project Descriptions</label>
            <input type="text" name="description" id="description" maxlength="500" required>

            <label for="maxTime">Max Time</label>
            <input type="number" name="maxTime" id="maxTime" step="0.01" min="0" max="9999999999999999999999999999.99" required>

            <label for="maxPrice">Max Price</label>
            <input type="number" name="maxPrice" id="maxPrice" step="0.01" min="0" max="9999999999999999999999999999.99" required>

            <label for="endDate">End Date</label>
            <input type="date" name="endDate" id="endDate" required>

            <div class="dropdown-container" id="memberDropdown">
                <div class="dropdown-button" onclick="toggleDropdown()">Add Members ▼</div>
                <div class="checkbox-dropdown">
                    <label th:each="profile : ${allProfiles}" th:if="${profile.authCode == 2}">
                        <input type="checkbox" name="projectMembers"
                               th:value="${profile.username}" />
                        <span th:text="${profile.name}"></span>
                    </label>
                </div>
            </div>



            <input type="hidden" name="projectOwner" th:value="${profile.getUsername()}">
            <button type="submit">Create Project</button>


        </form>
    </div>
</main>

<script src="/js/script.js"></script>
</body>
</html>