<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="/css/headerStyle.css" th:href="@{/css/headerStyle.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Alpha Solutions Project Management - Create New Task</title>
</head>
<body>

<header th:replace="~{fragments/header :: header}"></header>

<main class="employee-panel">
    <div class="employee-panel-top-row">
        <div class="welcome-box">
            <h2>Create New Task</h2>
        </div>
    </div>

    <div class="custom-message">
        <h3 th:text="${message}"></h3>
    </div>

    <div class="edit-box-holder">
        <form th:action="@{/createnewtask}" th:method="post" th:object="${task}" class="two-row-form">
            <label for="name">Task Name</label>
            <input type="text" name="name" id="name" maxlength="50" required>

            <label for="description">Task Description</label>
            <input type="text" name="description" id="description" maxlength="500" required>

            <label for="maxTime">Max Time</label>
            <input type="number" name="maxTime" id="maxTime" step="0.01" min="0" max="9999999999999999999999999999.99" required>

            <label for="maxPrice">Max Price</label>
            <input type="number" name="maxPrice" id="maxPrice" step="0.01" min="0" max="9999999999999999999999999999.99" required>

            <input type="hidden" name="projectID" id="projectID" th:value="${projectID}">

            <div class="form-section-full">
                <button type="submit" id="standard-button">Create Task</button>
            </div>
        </form>
    </div>
</main>

<script src="/js/script.js"></script>
</body>
</html>
