<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/styles.css}" href="/css/styles.css">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <link rel="stylesheet" href="/css/headerStyle.css" th:href="@{/css/headerStyle.css}">
  <script src="https://kit.fontawesome.com/1086dfba1e.js" crossorigin="anonymous"></script>
  <title th:text="${project.getName()}"> </title>
</head>
<body>

<header th:replace="~{fragments/header :: header}"></header>

<main th:if="${profile.getAuthCode()==0}">
  du er admin


</main>



<main th:if="${profile.getAuthCode()==1}">
  <h1 th:text="'Manage ' + ${task.getName()} + ' SubTask here'"></h1>

  <h2 th:text="${message}"></h2>

  <form th:action="@{/createnewsubtask}" th:method="get">
    <input type="hidden" name="taskID" th:value="${task.getId()}">
    <button type="submit">Create new Subtask</button>

  </form>
  <table>
    <tr th:each="subtask : ${task.getSubtasks()}">
      <td th:text="'Sub-task name '+${subtask.getName()}"></td>
      <td th:text="'Allocated time '+${subtask.getTime() + ' Hours'}"></td>
      <td th:text="'Status '+${subtask.getStatus()}"></td>
      <td><form th:method="get" th:action="@{/editsubtask}"><input type="hidden" name="subtaskID" th:value="${subtask.getId()}"><button>Edit subtask</button></form></td>
      <td><form th:method="post" th:action="@{/deletesubtask}"><input type="hidden" name="subtaskID" th:value="${subtask.getId()}"><button>Delete subtask</button></form></td>
    </tr>
  </table>
</main>


<main th:if="${profile.getAuthCode()==2}">
  <h1 th:text="'Subtasks in '+${task.getName()}"></h1>
  <table>
    <tr th:each="subtask : ${task.getSubtasks()}">
      <td th:text="'Sub-task name '+${subtask.getName()}"></td>
      <td th:text="'Allocated time '+${subtask.getTime() + ' Hours'}"></td>
      <td th:text="'Status '+${subtask.getStatus()}"></td>
      <td><form th:method="get" th:action="@{/}"><button>Update status</button></form></td>

    </tr>
  </table>

  <h1>Your assigned tasks</h1>

</main>

</body>
</html>