<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="/css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="/css/headerStyle.css" th:href="@{/css/headerStyle.css}">
    <script src="https://kit.fontawesome.com/1086dfba1e.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${project.getName()}"> </title>
</head>
<body>


<header th:replace="~{fragments/header :: header}"></header>

<main th:if="${profile.getAuthCode()==0}">
    du er admin


</main>

<main class="hero-page" th:if="${profile.getAuthCode()==1}">

    <div class="hero-page-header">
        <h1 th:text="'Manage ' + ${project.getName()} + ' Tasks here'"></h1>
    </div>

    <table class="table-layout">
        <thead>
        <tr>
            <th>Task Name</th>
            <th>Allocated Time</th>
            <th>Budget</th>
            <th colspan="3">
                <form th:action="@{/showcreatenewtask}" method="get">
                    <input type="hidden" name="projectID" th:value="${projectid}">
                    <button class="create-button">Create New Task</button>
                </form>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${project.getTasks()}">
            <td th:text="${task.getName()}"></td>
            <td th:text="${task.getMaxTime()} + ' Hours'"></td>
            <td th:text="${task.getMaxPrice()} + ' Kr.'"></td>
            <td>
                <form th:action="@{/dashboard/{projectid}/{taskid}(projectid=${project.getId()}, taskid=${task.getId()})}" th:method="get">
                    <button class="action-button">View Subtasks</button>
                </form>
            </td>
            <td>
                <form th:method="get" th:action="@{/edittask}">
                    <input type="hidden" name="taskID" th:value="${task.getId()}">
                    <button class="action-button">Edit Task</button>
                </form>
            </td>
            <td>
                <form th:method="post" th:action="@{/deletetask}">
                    <input type="hidden" name="taskID" th:value="${task.getId()}">
                    <button class="action-button delete">Delete Task</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

</main>


<main class="hero-page" th:if="${profile.getAuthCode()==2}">

    <div class="hero-page-header">
        <h1 th:text="'Tasks in ' + ${project.getName()}"></h1>
    </div>

    <table class="table-layout">
        <thead>
        <tr>
            <th>Task Name</th>
            <th>Allocated Time</th>
            <th>Budget</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${project.getTasks()}">
            <td th:text="${task.getName()}"></td>
            <td th:text="${task.getMaxTime()} + ' Hours'"></td>
            <td th:text="${task.getMaxPrice()} + ' Kr.'"></td>
            <td>
                <form th:action="@{/dashboard/{projectid}/{taskid}(projectid=${project.getId()}, taskid=${task.getId()})}" th:method="get">
                    <button class="action-button">View Subtasks</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

</main>

</body>
</html>